/MOO/work/brca/input/mrna.csv
/MOO/work/swedish/input/mrna.csv
/MOO/work/temp/
/MOO/work/Exclusive_numbers/
/MOO/.idea/
/.idea/.gitignore
/MOO/.idea/.gitignore
/.idea/BIODAI.iml
/MOO/.idea/csv-plugin.xml
/.idea/misc.xml
/MOO/.idea/misc.xml
/.idea/modules.xml
/MOO/.idea/modules.xml
/MOO/.idea/moo.iml
/.idea/inspectionProfiles/profiles_settings.xml
/MOO/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/MOO/.idea/inspectionProfiles/Project_Default.xml
/MOO/.idea/rAvailablePackageCache.xml
/MOO/.idea/rGraphicsSettings.xml
/MOO/.idea/rpackages.xml
/MOO/.idea/rSettings.xml
/.idea/vcs.xml
/MOO/.idea/vcs.xml
/MONOMER/.idea/
/MONOMER/work/Exclusive_numbers/
/MONOMER/work/temp/
/MONOMER/work/brca/input/mrna.csv
/MONOMER/work/swedish/input/mrna.csv
/MONOMER/work/luad_lusc/input/mrna.csv
/MONOMER/py/temp/
/MONOMER/work/tcga_kir/input/mrna.csv
/MONOMER/work/tcga_ov/input/mrna.csv
/MONOMER/work/tcga_kir3/input/mrna.csv
/MONOMER/work/ext_ov2/input/mrna.csv
/MONOMER/work/cptac3_sub_uq4/input/mrna.csv
/MONOMER/work/kid_gse152938d/input/mrna.csv
