/MOO/work/brca/input/mrna.csv
/MOO/work/swedish/input/mrna.csv
/MOO/work/temp/
/MOO/work/Exclusive_numbers/
/MOO/.idea/
/.idea/.gitignore
/MOO/.idea/.gitignore
/.idea/BIODAI.iml
/MOO/.idea/csv-plugin.xml
/.idea/misc.xml
/MOO/.idea/misc.xml
/.idea/modules.xml
/MOO/.idea/modules.xml
/MOO/.idea/moo.iml
/.idea/inspectionProfiles/profiles_settings.xml
/MOO/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/MOO/.idea/inspectionProfiles/Project_Default.xml
/MOO/.idea/rAvailablePackageCache.xml
/MOO/.idea/rGraphicsSettings.xml
/MOO/.idea/rpackages.xml
/MOO/.idea/rSettings.xml
/.idea/vcs.xml
/MOO/.idea/vcs.xml
