/.venv/
/work/Exclusive_numbers/
/work/temp/
/.idea/
/work/kirc_mv/input/mrna.csv
/work/kirc_mv/input/log_mrna.csv
/work/lgg_mv/input/log_mrna.csv
/work/sarc_mv/input/log_mrna.csv
/work/profile.prof
/work/*/*/*/2_folds/
/work/*/*/*/*/2_folds/