/work/kidney_ihc_det/mrna/NB_bal_acc_root_leanness_root_separation/2_folds
/.idea
/work/Exclusive_numbers
/work/kidney_ihc_det_os/mrna/NB_bal_acc_SKSurvCox_c-index_root_leanness_root_separation/2_folds
/work/temp
/work/profile.prof
/work/custom
/work/subscatterplots_cv/tcga_ki_ihc_det/NB_bal_acc_root_separation_root_leanness/NB_bal_acc_root_leanness.png
/work/subscatterplots_cv/tcga_ki_ihc_det/NB_bal_acc_root_separation_root_leanness/NB_bal_acc_root_separation.png
/work/subscatterplots_cv/tcga_ki_ihc_det/NB_bal_acc_root_separation_root_leanness/root_separation_NB_bal_acc.png
/work/subscatterplots_cv/tcga_ki_ihc_det/NB_bal_acc_root_separation_root_leanness/root_separation_root_leanness.png
/work/subscatterplots_cv/tcga_ki_ihc_det/root_separation_root_leanness/root_separation_root_leanness.png
/work/subscatterplots_cv/tcga_ki_ihc_det_nonadj/NB_bal_acc_root_leanness/NB_bal_acc_root_leanness.png
/work/subscatterplots_cv/tcga_ki_ihc_os/root_leanness_SKSurvCox_c-index_NB_bal_acc_root_separation/NB_bal_acc_root_leanness.png
/work/subscatterplots_cv/tcga_ki_ihc_os/root_leanness_SKSurvCox_c-index_NB_bal_acc_root_separation/NB_bal_acc_root_separation.png
/work/subscatterplots_cv/tcga_ki_ihc_os/root_leanness_SKSurvCox_c-index_NB_bal_acc_root_separation/root_separation_root_leanness.png
/work/subscatterplots_cv/tcga_ki_ihc_os/root_leanness_SKSurvCox_c-index_NB_bal_acc_root_separation/SKSurvCox_c-index_root_leanness.png
/work/subscatterplots_cv/tcga_ki_ihc_os/root_leanness_SKSurvCox_c-index_NB_bal_acc_root_separation/SKSurvCox_c-index_root_separation.png
/work/subscatterplots_cv/tcga_ki_ihc_os/root_leanness_SKSurvCox_c-index_root_separation/root_separation_root_leanness.png
/work/subscatterplots_cv/tcga_ki_ihc_os/root_leanness_SKSurvCox_c-index_root_separation/root_separation_SKSurvCox_c-index.png
/work/subscatterplots_cv/tcga_ki_ihc_os/root_leanness_SKSurvCox_c-index_root_separation/SKSurvCox_c-index_root_leanness.png
/work/subscatterplots_cv/tcga_ki_ihc_os/root_leanness_SKSurvCox_c-index_root_separation/SKSurvCox_c-index_root_separation.png
/work/subscatterplots_cv/tcga_ki_ihc_os_nonadj/NB_bal_acc_root_leanness_SKSurvCox_c-index/NB_bal_acc_root_leanness.png
/work/subscatterplots_cv/tcga_ki_ihc_os_nonadj/NB_bal_acc_root_leanness_SKSurvCox_c-index/SKSurvCox_c-index_NB_bal_acc.png
/work/subscatterplots_cv/tcga_ki_ihc_os_nonadj/NB_bal_acc_root_leanness_SKSurvCox_c-index/SKSurvCox_c-index_root_leanness.png
/work/subscatterplots_cv/tcga_ki_ihc_os_nonadj/root_leanness_SKSurvCox_c-index/SKSurvCox_c-index_root_leanness.png
/work/subtradeplots_cv/tcga_ki_ihc_det/NB_bal_acc_root_separation_root_leanness/NB_bal_acc_root_leanness.png
/work/subtradeplots_cv/tcga_ki_ihc_det/NB_bal_acc_root_separation_root_leanness/NB_bal_acc_root_separation.png
/work/subtradeplots_cv/tcga_ki_ihc_det/NB_bal_acc_root_separation_root_leanness/root_separation_NB_bal_acc.png
/work/subtradeplots_cv/tcga_ki_ihc_det/NB_bal_acc_root_separation_root_leanness/root_separation_root_leanness.png
/work/subtradeplots_cv/tcga_ki_ihc_det/root_separation_root_leanness/root_separation_root_leanness.png
/work/subtradeplots_cv/tcga_ki_ihc_det_nonadj/NB_bal_acc_root_leanness/NB_bal_acc_root_leanness.png
/work/subtradeplots_cv/tcga_ki_ihc_os/root_leanness_SKSurvCox_c-index_NB_bal_acc_root_separation/NB_bal_acc_root_leanness.png
/work/subtradeplots_cv/tcga_ki_ihc_os/root_leanness_SKSurvCox_c-index_NB_bal_acc_root_separation/NB_bal_acc_root_separation.png
/work/subtradeplots_cv/tcga_ki_ihc_os/root_leanness_SKSurvCox_c-index_NB_bal_acc_root_separation/NB_bal_acc_SKSurvCox_c-index.png
/work/subtradeplots_cv/tcga_ki_ihc_os/root_leanness_SKSurvCox_c-index_NB_bal_acc_root_separation/root_separation_NB_bal_acc.png
/work/subtradeplots_cv/tcga_ki_ihc_os/root_leanness_SKSurvCox_c-index_NB_bal_acc_root_separation/root_separation_root_leanness.png
/work/subtradeplots_cv/tcga_ki_ihc_os/root_leanness_SKSurvCox_c-index_NB_bal_acc_root_separation/root_separation_SKSurvCox_c-index.png
/work/subtradeplots_cv/tcga_ki_ihc_os/root_leanness_SKSurvCox_c-index_NB_bal_acc_root_separation/SKSurvCox_c-index_NB_bal_acc.png
/work/subtradeplots_cv/tcga_ki_ihc_os/root_leanness_SKSurvCox_c-index_NB_bal_acc_root_separation/SKSurvCox_c-index_root_leanness.png
/work/subtradeplots_cv/tcga_ki_ihc_os/root_leanness_SKSurvCox_c-index_NB_bal_acc_root_separation/SKSurvCox_c-index_root_separation.png
/work/subtradeplots_cv/tcga_ki_ihc_os/root_leanness_SKSurvCox_c-index_root_separation/root_separation_root_leanness.png
/work/subtradeplots_cv/tcga_ki_ihc_os/root_leanness_SKSurvCox_c-index_root_separation/root_separation_SKSurvCox_c-index.png
/work/subtradeplots_cv/tcga_ki_ihc_os/root_leanness_SKSurvCox_c-index_root_separation/SKSurvCox_c-index_root_leanness.png
/work/subtradeplots_cv/tcga_ki_ihc_os/root_leanness_SKSurvCox_c-index_root_separation/SKSurvCox_c-index_root_separation.png
/work/subtradeplots_cv/tcga_ki_ihc_os_nonadj/NB_bal_acc_root_leanness_SKSurvCox_c-index/NB_bal_acc_root_leanness.png
/work/subtradeplots_cv/tcga_ki_ihc_os_nonadj/NB_bal_acc_root_leanness_SKSurvCox_c-index/NB_bal_acc_SKSurvCox_c-index.png
/work/subtradeplots_cv/tcga_ki_ihc_os_nonadj/NB_bal_acc_root_leanness_SKSurvCox_c-index/SKSurvCox_c-index_NB_bal_acc.png
/work/subtradeplots_cv/tcga_ki_ihc_os_nonadj/NB_bal_acc_root_leanness_SKSurvCox_c-index/SKSurvCox_c-index_root_leanness.png
/work/subtradeplots_cv/tcga_ki_ihc_os_nonadj/root_leanness_SKSurvCox_c-index/SKSurvCox_c-index_root_leanness.png
/work/summary_stats/cv/tcga_ki_ihc_det/bal_acc_root_leanness_root_separation/gap_analysis
/work/summary_stats/cv/tcga_ki_ihc_det/root_leanness_root_separation/gap_analysis
/work/summary_stats/cv/tcga_ki_ihc_det_nonadj/bal_acc_root_leanness/gap_analysis
/work/summary_stats/cv/tcga_ki_ihc_os_nonadj/c-index_root_leanness/gap_analysis
/work/subscatterplots_cv/tcga_ki_ihc_det_nb_only_nochp/NB_bal_acc_root_separation_root_leanness/NB_bal_acc_root_leanness.png
/work/subscatterplots_cv/tcga_ki_ihc_det_nb_only_nochp/NB_bal_acc_root_separation_root_leanness/NB_bal_acc_root_separation.png
/work/subscatterplots_cv/tcga_ki_ihc_det_nb_only_nochp/NB_bal_acc_root_separation_root_leanness/root_separation_NB_bal_acc.png
/work/subscatterplots_cv/tcga_ki_ihc_det_nb_only_nochp/NB_bal_acc_root_separation_root_leanness/root_separation_root_leanness.png
/work/subscatterplots_cv/tcga_ki_ihc_det_nochp/root_separation_root_leanness/root_separation_root_leanness.png
/work/subscatterplots_cv/tcga_ki_ihc_det_nonadj_nb_only/NB_bal_acc_root_leanness/NB_bal_acc_root_leanness.png
/work/subscatterplots_cv/tcga_ki_ihc_det_nb_only/NB_bal_acc_root_separation_root_leanness/NB_bal_acc_root_leanness.png
/work/subscatterplots_cv/tcga_ki_ihc_det_nb_only/NB_bal_acc_root_separation_root_leanness/NB_bal_acc_root_separation.png
/work/subscatterplots_cv/tcga_ki_ihc_det_nb_only/NB_bal_acc_root_separation_root_leanness/root_separation_NB_bal_acc.png
/work/subscatterplots_cv/tcga_ki_ihc_det_nb_only/NB_bal_acc_root_separation_root_leanness/root_separation_root_leanness.png
/work/subscatterplots_cv/tcga_ki_ihc_det_nonadj_nb_only_nochp/NB_bal_acc_root_leanness/NB_bal_acc_root_leanness.png
/work/subtradeplots_cv/tcga_ki_ihc_det_nb_only/NB_bal_acc_root_separation_root_leanness/NB_bal_acc_root_leanness.png
/work/subtradeplots_cv/tcga_ki_ihc_det_nb_only/NB_bal_acc_root_separation_root_leanness/NB_bal_acc_root_separation.png
/work/subtradeplots_cv/tcga_ki_ihc_det_nb_only/NB_bal_acc_root_separation_root_leanness/root_separation_NB_bal_acc.png
/work/subtradeplots_cv/tcga_ki_ihc_det_nb_only/NB_bal_acc_root_separation_root_leanness/root_separation_root_leanness.png
/work/subtradeplots_cv/tcga_ki_ihc_det_nb_only_nochp/NB_bal_acc_root_separation_root_leanness/NB_bal_acc_root_leanness.png
/work/subtradeplots_cv/tcga_ki_ihc_det_nb_only_nochp/NB_bal_acc_root_separation_root_leanness/NB_bal_acc_root_separation.png
/work/subtradeplots_cv/tcga_ki_ihc_det_nb_only_nochp/NB_bal_acc_root_separation_root_leanness/root_separation_NB_bal_acc.png
/work/subtradeplots_cv/tcga_ki_ihc_det_nb_only_nochp/NB_bal_acc_root_separation_root_leanness/root_separation_root_leanness.png
/work/subtradeplots_cv/tcga_ki_ihc_det_nochp/root_separation_root_leanness/root_separation_root_leanness.png
/work/subtradeplots_cv/tcga_ki_ihc_det_nonadj_nb_only/NB_bal_acc_root_leanness/NB_bal_acc_root_leanness.png
/work/subtradeplots_cv/tcga_ki_ihc_det_nonadj_nb_only_nochp/NB_bal_acc_root_leanness/NB_bal_acc_root_leanness.png
