/work/kidney_ihc_det/mrna/NB_bal_acc_root_leanness_root_separation/2_folds
/.idea
/work/Exclusive_numbers
/work/kidney_ihc_det_os/mrna/NB_bal_acc_SKSurvCox_c-index_root_leanness_root_separation/2_folds
/work/temp
/work/profile.prof
/work/custom
